PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=ecommerce_db

JWT_ACCESS_SECRET=super-secret-access-key
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=super-secret-refresh-key
JWT_REFRESH_EXPIRES=7d
